<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!-- ******************************************** INICIO -Variables locales ********************************************-->
  <connectionStrings>
    <!--Se modifico la contraseña de jY3_9\\!@A[X)#FSc@ a jY3_9\!@A[X)#FSc@ (DES Y TEST) porque visual studio utiliza \, como parabra reservada y la duplica en la implementación-->
    <!--<add name="Conexion"
        connectionString="Data Source=VUI-DES-BD;Initial Catalog=AuraPortal_BPMS_DES;user ID=sqladmin;password=jY3_9\!@A[X)#FSc@; &#xD;&#xA;         Max Pool Size=10024;"
                               providerName="System.Data.SqlClient" />-->

     <add name="Conexion"
        connectionString="Data Source=VUI-DES-BD;Initial Catalog=AuraPortal_BPMS_TEST;user ID=sqladmin;password=jY3_9\!@A[X)#FSc@;
         Max Pool Size=10024;" providerName="System.Data.SqlClient" />

    <!--<add name="Conexion"
        connectionString="Data Source=VUI-PRD-BD;Initial Catalog=AuraPortal_BPMS_PROD;user ID=sqladmin;password=Qfh4B>kuJW#d6LF?!m;
         Max Pool Size=10024;" providerName="System.Data.SqlClient" /> -->

  </connectionStrings>
  <!-- *********************************************** FIN -Variables locales****************************************************-->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IInscripcionRUT">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://wsdev.procomer.go.cr:7778/PROCOMER_InscripRUTProcomer/InscripcionRUT.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IInscripcionRUT"
        contract="WS_ServicesRUTPruebas.IInscripcionRUT" name="WSHttpBinding_IInscripcionRUT" />
    </client>
  </system.serviceModel>
</configuration>